* {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(81, 26, 80);
    background: linear-gradient(150deg, rgba(81, 26, 80, 1) 0%, rgba(200, 48, 127, 1) 62%, rgba(133, 31, 99, 1) 100%);
}